table,
th,
td {
    border: 1px solid black;
}

html {
    background: rgb(45, 75, 83);
}

table {
    width: 50%;
    height: 50%;
    margin-top: 0px;
    font-size: 28px;
    text-align: center;
    margin: auto;
    font-family: arial;
    font-style: bold;
}

td {
    height: 10%;
    width: 10%;
    border: 1px solid black;
}

title,
h1 {
    text-align: center;
    padding-top: -10px;
}

footer {
    text-align: center;
    font-family: arial;
}